.guide {
  --headings-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Open Sans, Helvetica Neue, sans-serif;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 1.6em;
  margin: 32px auto 0;
  max-width: 630px;
}

.guide a {
  color: #0366d6;
  text-decoration: none;
}

.guide a:hover {
  text-decoration: underline;
}

.guide h1,
.guide h2,
.guide h3,
.guide h4,
.guide h5,
.guide h6 {
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
  font-family: var(--headings-font);
}

.guide h2,
.guide h3,
.guide h4,
.guide h5,
.guide h6 {
  border-bottom: 1px solid #eaecef;
}

.guide h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.guide h2 {
  font-size: 1.5em;
}

.guide pre {
  padding: 16px;
  overflow: auto;
  background-color: #f6f8fa;
  --annotation-mask-color: #f6f8fa;
  border-radius: 3px;
}

.guide hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.guide table {
  display: block;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
}

.guide table th {
  color: #15171a;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: left;
  text-transform: uppercase;
  background-color: #f4f8fb;
}

.guide table td,
.guide table th {
  font-family: var(--headings-font);
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.guide table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.guide table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
